<html>
<head>
    <title>Books</title>
</head>
<body>
<header>
    <h1>BOOKS </h1>
</header>
<nav>
    <a href="/">Search</a> |
    <a href="/books">List Books</a> |
    <a href="/create"> Create book </a> |
</nav>
<section>
    <form action="/edit-book/{{book.getId()}}" method="post">
        <label> Title </label>
        <input type="text" name="title" value="{{book.getTitle()}}" placeholder=" ">
        <label> Author </label>
        <input type="text" name="author" value="{{book.getAuthor()}}" placeholder=" ">
        <label> Publisher </label>
        <select id="publisher" name="publisher_id">
            <option value="">--Chọn--</option>
            {% for publisher in publishers %}
            <option value="{{publisher.getId()}}">{{publisher.getName()}}</option>
            {% endfor %}
        </select>
        <label> Price </label>
        <input type="text" name="price" value="{{book.getPrice()}}" placeholder=" ">
        <input type="submit" value="OK">
    </form>
</section>
</body>
</html>