<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/menu-horizontal.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/create-book.css" type="text/css">
</head>
<body>
    <div class="frame">
        <div class="menu">
            <div id="menu">
                <ul>
                    <li><a href="http://localhost:3000/">Home</a></li>
                    <li><a href="http://localhost:3000/books">List Book</a></li>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Home</a></li>
                </ul>
            </div>
        </div>
        <div class="head-right">
            <div class="wrap">
                <div class="search">
                    <input class="searchTerm" placeholder="What are you looking for?">
                    <button type="submit" class="searchButton">Search</button>
                </div>
            </div>
        </div>
        <div class="body">
            <div class="container">
                <h1 align="center">CREATE BOOK</h1>
                <form class="">
                    <label >Title</label><br>
                    <input type="text" id="title" name="title"><br>
                    <label >Author</label><br>
                    <input type="text" name="author"><br>
                    <label >Publisher</label><br>
                    <select id="publisher" name="publisher"></select><br>
                    <label >Price</label><br>
                    <input type="text" name="price"><br>
                    <input type="submit" value="Submit">

                </form>
            </div>
        </div>
        <div class="bottom"></div>
    </div>
</body>
</html>