<html>
    <head>
        <title>Books</title>
    </head>
    <body>
        <header>
            <h1>BOOKS </h1>
        </header>
        <nav>
            <a href="/">Search</a> |
            <a href="/books">List Books</a> |
            <a href="/create"> Create book </a> |
        </nav>
        <section>
            <form action="/search-basic" method="get">
                <input type="text" name="keyword" placeholder="search...">
                <input type="submit" value="Search">
            </form>
            <ul>
                {% for book in books %}
                <li>
                    <a href="/book/{{book.getId()}}">{{book.getTitle()}}</a>
                </li>
                {% endfor %}
            </ul>
        </section>
    </body>
</html>