<html>
<head>
    <title>Books</title>
</head>
<body>
<header>
    <h1>BOOKS </h1>
</header>
<nav>
    <a href="/">Search</a> |
    <a href="/books">List Books</a> |
    <a href="/add"> Create book </a> |
</nav>
<section>
    <form action="/search-advance" method="get">
        <label> Title </label>
        <input type="text" name="title" placeholder=" ">
        <label> Author </label>
        <input type="text" name="author" placeholder=" ">
        <label> Publisher </label>
        <input type="text" name="publisher" placeholder=" ">
        <input type="submit" value="Search">
    </form>
</section>
</body>
</html>