{% extends 'search.njk' %}

{% block content %}
<div class="jumbotron text-center">
    <h1>LIBRARY</h1>
    <p>Welcome to the library book</p>
    <form class="form-inline">
        <div class="input-group">
            <input class="form-control" size="50" placeholder="Search keyword ...">
            <div class="input-group-btn">
                <button type="button" class="btn btn-danger">Search</button>
            </div>
        </div>
    </form>
</div>