* {
  margin: 0;
  padding: 0;
}
.frame {
  height:  100%;
  width: 100%;
  background-image: url("../../public/images/book.jpg");
}

.head {
  height: 100px;
  background: lavender;
  margin: auto;

}

.body {
  height: 800px;
  width: 1000px;
  background: white;
  margin: auto;
  padding-top: 1px;
}

.bottom {
  height: 60px;
  background: #1F568B;
}


